.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    /* left: 0; */
    top: 50%;
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    /* margin-right: 15%;
    margin-left: 15%; */
    list-style: none;
    color: black;
    /* background-color: blue; */
    height: 100px;
    li {
        position: relative;
        left: 650px;
        flex: 0 1 auto;
        width: 30px;
        height: 3px;
        /* margin-right: 3px;
        margin-left: 3px; */
        text-indent: -999px;
        cursor: pointer;
        background-color: darkgrey;
        border-radius: 50%;
        padding: 10px;
      }
      .active {
        background-color: orangered;
      }
  }

 