@import 'varaibles';
.carousel {
    background-color: $color-xlorange;
    .carousel-indicators {
        // position: absolute;
        // right: 0;
        // bottom: 10px;
        // /* left: 0; */
        // top: 36%;
        // z-index: 15;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // padding-left: 0;
        // /* margin-right: 15%;*/
        // margin-left: 42% !important;
        // list-style: none; // background-color: blue;
        // height: 100px;
        position: absolute;
        top: 50%;
        right: 0 !important;
        transform: translate(-50%, -50%);
        margin-bottom: 0px;
        margin-right: 0px;
        margin-left: 0px;
        display: inline-table;
        left:auto;
        z-index: inherit;

        li {
            position: relative;
            width: 2px !important;
            height: 2px !important;
            margin-top: 5px;
            border-radius: 50%;
            padding: 10px;
            margin-right: 3px;
            margin-left: 3px; 
            background-color: $color-dgrey !important;

            // position: relative; // left: 650px;
            // flex: 0 1 auto;
            // width: 2px !important;
            // height: 2px !important;
            // margin-top: 5px; 
            // background-color: $color-dgrey !important;
            // border-radius: 50%;
            // padding: 10px;
        }
        .active {
            background-color: $color-orange !important;
        }
    }
    .carousel-caption {
        position: absolute;
        right: 0%;
        bottom: 20px;
        text-align: center;
        padding-left: 20px;
    }
    .carousel-item {
        img {
            width: 400px;
            height: 400px;
        }
    }
    .s-title {
        color: $color-orange;
        font-size: 25px !important;
        margin-top: -280px;
        position: relative;
        left: -150px;
    }
    .s-content {
        color: $color-black;
        text-align: right;
        position: absolute;
        left: 280px;
        font-weight: 900;
    }
    .p-content {
        color: $color-black;
        text-align: right;
        position: absolute;
        left: 280px;
        top: -100px;
    }
    .s-btn {
        position: relative;
        left: -95px;
        top: 200px;
        border-radius: 0px;
        background-color: $color-orange;
        border-color: $color-orange;
        .arrow {
            padding: 10px;
            padding-left: 20px;
        }
    }
    .s-btn:hover {
        background-color: $color-orange;
        border-color: $color-orange;
    }
    .right-text {
        background-color: $color-orange;
        width: 100px;
        height: 100px;
        padding: 20px;
        border-radius: 50%;
        position: relative;
        left: 500px;
        top: -100px;
    }
}

.filter {
    .card {
        border: none;
        .card-header {
            background-color: $color-white;
            .btn-filter {
                color: $color-grey;
                position: relative;
                left: -20px;
            }
            .sign {
                margin-left: 80px;
            }
        }
    }
    .row {
        padding-bottom: 10px;
    }
    .color {
        padding-right: 0px;
    }
    .o-circle {
        width: 15px;
        height: 15px;
        background-color: #80aadc;
        border-radius: 50%;
    }
    .o-2-circle {
        width: 20px;
        height: 20px;
        background-color: $color-white;
        border-radius: 50%;
        border: 1px solid $color-orange;
        float: left;
        /* left: 5px; */
        position: relative;
        left: 25px;
        top: -18px;
        .i-circle {
            width: 10px;
            height: 10px;
            background-color: $color-orange;
            border-radius: 50%;
            position: relative;
            top: 4px;
            left: 4px;
        }
    }
    .o-3-circle {
        width: 15px;
        height: 15px;
        background-color: #9de0d7;
        border-radius: 50%;
        float: left;
        position: relative;
        /* right: 70px; */
        top: -15px;
        left: 35px;
    }
    .o-4-circle {
        width: 15px;
        height: 15px;
        background-color: $color-orange;
        border-radius: 50%;
        float: left;
        position: relative;
        /* right: 30px; */
        top: -15px;
        left: 45px
    }
    .o-1-circle {
        width: 15px;
        height: 15px;
        background-color: #c0adef;
        border-radius: 50%;
        float: left;
        position: relative;
        left: 25px;
        top: -15px;
    }
    .table td {
        border: none;
    }
    .slidecontainer {
        width: 100%;
    }
    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 3px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        &:hover {
            opacity: 1;
        }
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: $color-orange;
            cursor: pointer;
        }
    }
    .right {
        float: right;
    }
    #case-study-part {
        padding-bottom: 100px; // padding-top: 90px;
        .case-menu {
            padding-top: 20px;
            ul li {
                display: inline-block;
                font-size: 16px;
                font-weight: 600;
                font-family: 'Montserrat', sans-serif;
                color: $color-black;
                /* border: 1px solid #000757; */
                line-height: 40px;
                padding: 0 25px;
                margin: 0 3px;
                cursor: pointer;
                -webkit-transition: all 0.4s linear;
                transition: all 0.4s linear;
                text-transform: uppercase;
                margin-top: 10px;
                &:hover,
                &.active {
                    color: $color-orange;
                    /* background-color: #0083ff; */
                    border-color: #0083ff;
                }
            }
        }
        .case-study-items {
            position: relative;
            margin-top: 30px;
            .case-thum {
                position: relative;
                img {
                    width: 200px;
                    height: 250px;
                }
            }
            .details {
                /* position: relative;
          top: -200px; */
                h5,
                h6 {
                    text-align: left;
                    position: relative;
                    left:20px;
                }
                .price {
                    float: right;
                    position: relative;
                    // left: 200px;
                    top: -60px;
                }
                .time {
                    text-align: left;
                    position: absolute;
                    left: 35px;
                    color: $color-grey;
                    font-weight: 100;
                }
                .about-chair {
                    text-align: left;
                    padding-bottom: 5px;
                    padding-top: 10px;
                    color: $color-dgrey;
                    font-weight: 400;
                    position: relative;
                    left: 20px;
                }
            }
        }
    }
    .btn-danger {
        color: $color-white;
        background-color: $color-orange;
        border-color: $color-orange;
        border-radius: 0px;
        margin: auto;
        position: relative;
        left: 25%;
        padding: 5px 15px 5px 15px;
    }
    .btn-danger:hover {
        background-color: $color-orange;
        border-color: $color-orange;
    }
}

.layered-slider {
    .rotateslider {
        position: relative;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -150px;
        .rotateslider-item {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%) scale(0.6);
            opacity: 0;
            filter: blur(5px);
            transition: all 0.3s ease;
            img {
                width: 300px;
                height: 300px;
            }
        }
        $offset: 30%;
        .rotateslider-item.next {
            left: 50% + $offset;
            opacity: 0.5;
        }
        .rotateslider-item.prev {
            left: 50% - $offset;
            opacity: 0.5;
        }
        .rotateslider-item.now {
            opacity: 1;
            filter: blur(0px);
            top: 60%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%) scale(1);
        }
        .arrow {
            display: inline-block;
            width: 50px;
            height: 50px;
            position: absolute;
            top: 50%;
            margin-top: -25px;
            cursor: pointer;
            &.left {
                left: 0;
            }
            &.right {
                right: 0;
            }
        }
    }
}