* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    position: relative;
    > {
      .nav-header {
        display: inline;
        > .nav-title {
          display: inline-block;
          font-size: 22px;
          padding: 10px 10px 10px 10px;
        }
      }
      .nav-btn {
        display: none;
      }
      .nav-links {
        display: inline;
        position: relative;
        left: 250px;
        font-size: 18px;
        > a {
          display: inline-block;
          padding: 13px 10px 13px 10px;
          text-decoration: none;
          color: black;
          &:hover {
            background-color: orange;
          }
        }
      }
      #nav-check {
        display: none;
      }
    }
  }
  
  @media (max-width: 600px) {
    .nav > {
      .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
        > label {
          display: inline-block;
          width: 50px;
          height: 50px;
          padding: 13px;
          &:hover {
            background-color: rgba(0, 0, 0, 0.3);
          }
          > span {
            display: block;
            width: 25px;
            height: 10px;
            border-top: 2px solid #eee;
          }
        }
      }
      .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
        > a {
          display: block;
          width: 100%;
        }
      }
      #nav-check {
        &:not(:checked) + .nav-links {
          height: 0px;
        }
        &:checked + .nav-links {
          height: calc(100vh - 50px);
          overflow-y: auto;
        }
      }
    }
  }
  .search-box {
    background: #E8E8E4;
    position: absolute;
    top: 54px;
    right: 28.7%;
    width: 350px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-top: 4px solid orange;
    display: none;
    &:before {
      content: "";
      position: absolute;
      top: -32px;
      right: 13px;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 14px solid transparent;
      border-bottom: 14px solid orange;
    }
    input {
      &[type="text"] {
        width: 200px;
        padding: 5px 10px;
        margin-left: 23px;
        border: 1px solid orange;
        outline: none;
      }
      &[type="button"] {
        width: 80px;
        padding: 5px 0;
        background: orange;
        color: #fff;
        margin-left: -6px;
        border: 1px solid orange;
        outline: none;
        cursor: pointer;
      }
    }
  }
  
  /* Media Queries */
  @media screen and (max-width: 700px) {
    ul {
      width: 200px;
      li {
        width: 100px;
        &.active {
          text-align: right;
        }
        &.mob {
          display: none;
        }
      }
    }
    .search-box {
      width: 270px;
      right: -16%;
      input {
        &[type="text"] {
          width: 140px;
          margin-left: 15px;
        }
        &[type="button"] {
          margin-right: 12px;
        }
      }
    }
  }